In [1]:
import json
import pandas as pd

In [2]:
NAME = "201902"


COLUMNS = [
    ["コード", "銘柄名", "市場・商品区分", "33業種コード", "33業種区分", "17業種コード", "17業種区分", "規模区分"],
    ["code", "name", "market", "code33", "industry33", "code17", "industry17", "scale"],
]

In [3]:
df = pd.read_excel("./src/{}.xls".format(NAME))

df = df.filter(items=COLUMNS[0])
df.columns = COLUMNS[1]

In [4]:
df.head(5)

,code,name,market,code33,industry33,code17,industry17,scale
0,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,TOPIX Small 2
1,1305,ダイワ上場投信－トピックス,ETF・ETN,-,-,-,-,-
2,1306,ＴＯＰＩＸ連動型上場投資信託,ETF・ETN,-,-,-,-,-
3,1308,上場インデックスファンドＴＯＰＩＸ,ETF・ETN,-,-,-,-,-
4,1309,上海株式指数・上証５０連動型上場投資信託,ETF・ETN,-,-,-,-,-

In [5]:
markets = {}
for i, market in enumerate(list(set(df["market"]))):
    markets[i] = market
re_markets = {v: k for k, v in markets.items()}


df_33 = df.filter(items=["code33", "industry33"])
combination_33 = set(["\t".join([str(item) for item in row]) for row in df_33.values])

industry33 = {}
for items in combination_33:
    k, v = items.split("\t")
    if (k != "-"):
        industry33[k] = v


df_17 = df.filter(items=["code17", "industry17"])
combination_17 = set(["\t".join([str(item) for item in row]) for row in df_17.values])

industry17 = {}
for items in combination_17:
    k, v = items.split("\t")
    if (k != "-"):
        industry17[k] = v

In [6]:
manual = {
    "markets": markets,
    "industry33": industry33,
    "industry17": industry17,
}

In [7]:
results = []
for _, row in df.iterrows():
    res = {}
    res["c"] = row["code"]
    res["n"] = row["name"]
    res["m"] = re_markets[row["market"]]
    res["i33"] = row["code33"] if row["code33"] != "-" else ""
    res["i17"] = row["code17"] if row["code17"] != "-" else ""
    results += [res]

In [8]:
with open("./dist/manual.json", "w") as f:
    json.dump(manual, f)

with open("./dist/main.json", "w") as f:
    json.dump(results, f)